# dependencies
node_modules

# next.js
.next
out

# production
build

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode
.idea

GMAIL_USER=arkandmile@gmail.com
GMAIL_APP_PASSWORD= wvre gtua fsal dapx
REQUEST_TO_EMAIL=arkandmile@gmail.com
REQUEST_FROM_EMAIL="Ark & Mile Requests" <arkandmile@gmail.com>